# Python virtual environment
.venv/
venv/
env/
.idea/
# Compiled Python files
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.env

# Optional system files
.DS_Store
Thumbs.db
gitcommands.txt

#others
test/
notebook/